*{
	margin: 0;
	padding: 0;
}
.big-box{
	width: 210px;
	height: 210px;
	padding: 5px;
	border: 1px wheat solid;
}
.small-boxs{
	width: 60px;
	height: 60px;
	float: left;
	margin: 5px;
	background-color: orange;
	border-radius: 10%;
}